<!DOCTYPE html>
<html>
    <head>
        <title> Reserve Slot for Student </title>
        <script type="text/javascript" src="/js/scripts.js"></script>
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
    </head>
    <body>
        <div class = "topnav">
            {{#ifCond selected 'profile'}}
                <a class = "active" href = "profile.html"> PROFILE </a>
            {{else}}
                <a href = "profile.html"> PROFILE </a>
            {{/ifCond}}
            
            <a href = "searchslots.html"> SEARCH SLOTS </a>
            <a href = "studentreserve.html"> RESERVE SLOT (STUDENT) </a>
            <a href = "labtechnicianreserve.html"> RESERVE FOR STUDENT (LAB TECH) </a>
            <a href = "labtechnicianmodify.html"> MODIFY RESERVATIONS (LAB TECH) </a>
            <a href = "searchusers.html"> SEARCH USER </a>
            <a id = "right" href = "index.html"> LOGOUT </a>
        </div>  
    </body>
</html>