<!DOCTYPE html>
<html>
    <head>
        <title> About </title>
        <script type="text/javascript" src="/js/scripts.js"></script>
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
    </head>

    <body>
        {{> specialnav}}
        <h1>
            <div class="header">
                About
            </div>
        </h1>

        <br>
        <div class="content">
            <h1>Purpose</h1>
                <p> This is a seat reservation application wherein users can view 
                    the various seat plans of the different labs at different times
                    and choose the seats that they want to reserve.
                </p>

            <h1>NPM packages and 3rd party libaries</h1>
                <p>For this application, the only NPM package used is the default that is provided from 
                    running npm install. For 3rd party libraries, we used bcrypt.
                </p>

        </div>

        <nav>

        </nav>
    </body>
</html>