<!DOCTYPE html>
<html>
    <head>
        <title> Edit Profile </title>
        <script type="text/javascript" src="/js/scripts.js"></script>
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
    </head>

    <body>
        {{> nav}}
        <h1>
            <div class = "header">
                EDIT PROFILE
            </div>
        </h1>

        <div class="content">
            <form class="form-style">
                <p> Account type: </p>
                <input type="radio" id="student" name="accounttype">
                <label for="student"> Student </label>
                <input type="radio" id="labtechnician" name="accounttype">
                <label for="accounttype"> Lab technician</label><br><br>

                <label for="username"> Username </label><br>
                <input type="text" placeholder="Enter Username" id="username" name="username"><br>
                <label for="profile-picture"> Profile Picture </label><br><br>
                <input type="file" placeholder="Upload Picture" id="profile-picture" name="profile-picture"><br><br>
                <label for="description"> Your Description </label><br>
                <input type="text" placeholder="Enter Your Description" id="description" name="description"><br>
            </form>
        </div>

        <div class = "save-account-changes">
            <a class = "button1" href = "profile"> Save Changes </a>
        </div>
        <div class = "cancel-account-changes">
            <a class = "button1" href = "profile"> Cancel Changes </a>
        </div>
    </body>
</html>