<!DOCTYPE html>
<html>
    <head>
        <title> Error </title>
        <script type="text/javascript" src="/js/scripts.js"></script>
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
    </head>


    <body>
        <h1 class = "big center">Oops!</h1>

        <p class = "center"> The following problem has occured: {{error}}</p>
    </body>
    
</html>