<!DOCTYPE html>
<html>
    <head>
        <title> View Slots </title>
        <script type="text/javascript" src="/js/scripts.js"></script>
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
    </head>

    <body onload='makeArray(3,9,12,20);'>
        <div class = "topnav">
            <a class = "active" href = "index.html"> VIEW SLOTS </a>
            <a id = "right" href = "login.html"> LOGIN </a>
            <a id = "right" href = "register.html"> REGISTER </a>
        </div>    

        <h1>
            <div class="header">
                View slots
            </div>
        </h1>

        <div class = "content">
            <label for="lab_num">Choose a lab:</label>

            <select name="lab_num" id="lab_num">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
    
            <label for="day_num">Choose a day:</label>
    
            <select name="day_num" id="day_num">
                <option value="0">June 20 (Today)</option>
                <option value="1">June 21</option>
                <option value="2">June 22</option>
                <option value="3">June 23</option>
                <option value="4">June 24</option>
                <option value="5">June 25</option>
                <option value="6">June 26</option>
                <option value="7">June 27</option>
                <option value="8">June 28</option>
            </select>
    
            <label for="time">Choose a time:</label>
    
            <select name="time" id="time">
                <option value="0">10:00AM-10:30AM</option>
                <option value="1">10:30AM-11:00AM</option>
                <option value="2">11:00AM-11:30AM</option>
                <option value="3">11:30AM-12:00PM</option>
                <option value="4">12:00PM-12:30PM</option>
                <option value="5">12:30PM-1:00PM</option>
                <option value="6">1:00PM-1:30PM</option>
                <option value="7">1:30PM-2:00PM</option>
                <option value="8">2:00PM-2:30PM</option>
                <option value="9">2:30PM-3:00PM</option>
                <option value="10">3:00PM-3:30PM</option>
                <option value="11">3:30PM-4:00PM</option>
            </select>
    
            <input type="submit" onclick = 'displaySlots()' value = "Submit">
    
            <table id="slots">
                <tr>
                    <td> Free </td>
                    <td> Free </td>
                    <td> Free </td>
                    <td> Free </td>
                    <td> Free </td>
                </tr>
                <tr>
                    <td> Free </td>
                    <td> Free </td>
                    <td> Free </td>
                    <td> Free </td>
                    <td> Free </td>
                </tr>
                <tr>
                    <td> Free </td>
                    <td> Free </td>
                    <td> Free </td>
                    <td> Free </td>
                    <td> Free </td>
                </tr>
                <tr>
                    <td> Free </td>
                    <td> Free </td>
                    <td> Free </td>
                    <td> Free </td>
                    <td> Free </td>
                </tr>
            </table>
    
            <p>
                Want to reserve a slot?
                <a href="login.html"> Login here</a>
            </p>
        </div>

    </body>
</html>