<!DOCTYPE html>
<html>
    <head>
        <title> Login Form </title>
        <script type="text/javascript" src="scripts.js"></script>
        <link rel="stylesheet" type="text/css" href="styles.css">
    </head>

    <body>
        <div class = "topnav">
            <a href = "index.html"> VIEW SLOTS </a>
            <a class = "active" id = "right" href = "login.html"> LOGIN </a>
            <a id = "right" href = "register.html"> REGISTER </a>
        </div>  
        <h1>
            <div class="header">
                Login
            </div>
        </h1>

        <br>
        <div class="content">
            <form class="form-style">
                <label for="email"> Email: </label><br>
                <input type="email" placeholder="Enter Email" id="email" name="email" required><br>
                <label for="password"> Password: </label><br>
                <input type="password" placeholder="Enter Password" id="password" name="password" required><br>
                <input type="checkbox" id="rememberme" name="rememberme">
                <label for="rememberme"> Remember me </label><br>
                <input type="submit" onclick = 'checkLogin()' value = "Submit" >
            </form>

            <p>
                Haven't registered?
                <a href="register.html"> Register here</a>
            </p>
        </div>

        <nav>

        </nav>
    </body>
</html>