<!DOCTYPE html>
<html>
    <head>
        <title> Register </title>
        <script type="text/javascript" src="/js/scripts.js"></script>
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
    </head>

    <body>
        {{> specialnav}}
        <h1>
            <div class="header">
                Register
            </div>
        </h1>

        <br>
        <div class="content">
            <form class="form-style" action="/register" method="post">
                <p> Account type: </p>
                <input type="radio" id="student" name="accounttype" value="student" required>
                <label for="student"> Student </label>
                <input type="radio" id="labtechnician" name="accounttype" value="technician" required>
                <label for="labtechnician"> Lab technician</label><br><br>

                <label for="email"> Email</label><br>
                <input type="email" placeholder="Enter Email" id="email" name="email" required><br>
                <label for="username"> Username</label><br>
                <input type="text" placeholder="Enter Username" id="username" name="username" required><br>
                <label for="password"> Password</label><br>
                <input type="password" placeholder="Enter Password" id="password" name="password" required><br>
                <label for="confirmpassword"> Confirm Password</label><br>
                <input type="password" placeholder="Re-enter your Password" id="confirmpassword" name="confirmpassword" required><br>
                <input type="submit" name = "Submit">
            </form>
        </div>

    </body>
</html>